mat-grid-list {
    width: 100%;
    padding: 10px;
}

.upload-cover {
    padding: 15px;
    border-radius: 20px;
    height: fit-content;
}

.no-img {
    background-color: #83838345;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5px;

}

.submit-btn {
    margin: 20px auto;
    width: 10vw;
}

.product-form,
.user-form {
    column-gap: 3%;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

form {
    align-items: center;
}

h1 {
    font-weight: bold
}
.mid-col{
    width: 35%;
}