<div [formGroup]="form" class="d-flex flex-column wrapper">
  <mat-form-field
    [ngStyle]="outsideError ? { 'margin-bottom': '15px' } : {}"
    appearance="outline"
    *ngIf="form"
    [style.width.vw]="width"
    [subscriptSizing]="outsideError ? 'dynamic' : 'fixed'"
    hideRequiredMarker="true"
  >
    <mat-label>{{ label }}</mat-label>
    <input
      *ngIf="!textArea"
      matInput
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [type]="type || 'text'"
    />
    <textarea
      *ngIf="textArea"
      matInput
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [type]="type || 'text'"
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
    ></textarea>
    <mat-icon matSuffix>{{ icon }}</mat-icon>
    <mat-error
      *ngIf="
        form.controls[controlName].touched && form.controls[controlName].errors
      "
    >
      {{ customValidator.getErrorMessage(controlName, form) }}
    </mat-error>
  </mat-form-field>
</div>
