<div [formGroup]="form">
  <mat-form-field
    appearance="outline"
    *ngIf="form"
    [style.width.vw]="width"
  >
    <mat-label>{{ label }}</mat-label>
    <input
      *ngIf="controlName !== 'description'"
      matInput
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [type]="type || 'text'"
    />
    <textarea
      *ngIf="controlName === 'description'"
      matInput
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [type]="type || 'text'"
      cdkTextareaAutosize
    ></textarea>
    <mat-icon matSuffix>{{ icon }}</mat-icon>
    <mat-error
      *ngIf="
        form.controls[controlName].touched && form.controls[controlName].errors
      "
    >
      {{ customValidator.getErrorMessage(controlName, form) }}
    </mat-error>
  </mat-form-field>
</div>
