<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container px-4 px-lg-5" *ngIf="user || user === null">
    <app-logo [width]="60" [height]="60" [routerLink]="['/']"></app-logo>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarControls"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end controls" id="navbarControls">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <button mat-button class="text-dark" (click)="toCart()">
            <mat-icon
              [matBadge]="cartLength"
              matBadgePosition="after"
              matBadgeOverlap="false"
              matBadgeSize="small"
              aria-hidden="false"
              >shopping_cart</mat-icon
            >
          </button>
        </li>
        <li class="nav-item">
          <button
            mat-button
            class="text-dark"
            *ngIf="!user"
            [routerLink]="['/signin']"
          >
            <mat-icon>login</mat-icon> Login
          </button>
        </li>
        <li class="nav-item">
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="text-dark"
            *ngIf="user"
          >
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/personal-info']">
              Personal Information
            </button>
            <button mat-menu-item [routerLink]="['/myorders']">
              My orders
            </button>
            <button mat-menu-item [routerLink]="['/dashboard']">
              Dashboard
            </button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <button mat-button class="text-dark" *ngIf="user" (click)="logout()">
            <mat-icon>logout</mat-icon> Logout
          </button>
        </li>
      </ul>
      <!-- cart button -->

      <!-- signin button -->

      <!-- person menu button -->

      <!-- logout button -->
    </div>
  </div>
</nav>
<div
  class="alert alert-warning text-center"
  role="alert"
  *ngIf="user && !user.verified && user.role !== 'ADMIN'"
>
  Your Email Is Not Verified.
  <a (click)="verifyEmail()" class="alert-link">Click Here To Verify</a>
</div>
<ng-template #otpModal>
  <app-modal [modalRef]="modalRef" [title]="'Verify OTP'">
    <app-verify-otp
      [email]="user!.email"
      [forgetPasswordMode]="false"
    ></app-verify-otp>
  </app-modal>
</ng-template>
