<div class="d-flex flex-row flex-shrink-0 Dashboard">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-light side-nav shadow-lg"
    style="width: 280px"
  >
    <span class="fs-4">Techy Dashboard</span>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a
          class="nav-link link-dark d-flex"
          [ngClass]="{ active: mode === 'Products' }"
          (click)="changeMode('Products')"
          ><mat-icon>precision_manufacturing</mat-icon>
          <p><span *ngIf="user.role === 'VENDOR'">Your </span>Products</p>
        </a>
      </li>
      <li *ngIf="user.role === 'ADMIN'">
        <a
          class="nav-link link-dark d-flex"
          [ngClass]="{ active: mode === 'Categories' }"
          (click)="changeMode('Categories')"
          ><mat-icon>category</mat-icon> Categories
        </a>
      </li>
      <li *ngIf="user.role === 'ADMIN'">
        <a
          class="nav-link link-dark d-flex"
          [ngClass]="{ active: mode === 'Brands' }"
          (click)="changeMode('Brands')"
          ><mat-icon>diamond</mat-icon> Brands
        </a>
      </li>
      <li *ngIf="user.role === 'ADMIN'">
        <a
          class="nav-link link-dark d-flex"
          (click)="changeMode('Orders')"
          [ngClass]="{ active: mode === 'Orders' }"
          ><mat-icon>local_shipping</mat-icon> Orders
        </a>
      </li>
      <li *ngIf="user.role === 'VENDOR'">
        <a
          class="nav-link link-dark d-flex"
          (click)="changeMode('OrderItems')"
          [ngClass]="{ active: mode === 'OrderItems' }"
          ><mat-icon>local_shipping</mat-icon>Your Orders
        </a>
      </li>
    </ul>
  </div>
  <div class="mat-elevation-z8 main shadow-lg">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of headers">{{ header }}</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="mode === 'Products'">
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>
            <img [src]="product.cover" alt="cover" class="cover" />
          </td>
          <td>{{ product.inventory }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.brand.name }}</td>
          <td>{{ product.category.name }}</td>
          <td>
            {{ product.vendor.firstName + " " + product.vendor.lastName }}
          </td>
          <td>
            <a class="btn btn-outline-dark">Edit</a>
          </td>
          <td>
            <a class="btn btn-outline-danger">Delete</a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="mode === 'Categories'">
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.products?.length }}</td>
          <td>
            <a class="btn btn-outline-dark">Edit</a>
          </td>
          <td>
            <a class="btn btn-outline-danger">Delete</a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="mode === 'Brands'">
        <tr *ngFor="let brand of brands">
          <td>{{ brand.id }}</td>
          <td>{{ brand.name }}</td>
          <td>{{ brand.products?.length }}</td>
          <td>
            <a class="btn btn-outline-dark">Edit</a>
          </td>
          <td>
            <a class="btn btn-outline-danger">Delete</a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="mode === 'Orders'">
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.orderStatus }}</td>
          <td>{{ order.totalAmount }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.user!.firstName + " " + order.user!.lastName }}</td>
          <td>
            <a class="btn btn-outline-dark">Edit</a>
          </td>
          <td>
            <a class="btn btn-outline-danger">Delete</a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="mode === 'OrderItems'">
        <tr *ngFor="let orderItem of orderItems">
          <td>{{ orderItem.product?.name }}</td>
          <td>
            <img [src]="orderItem.product?.cover" alt="cover" class="cover" />
          </td>
          <td>{{ orderItem.quantity }}</td>
          <td>{{ orderItem.unitPrice }}</td>
          <td>{{ orderItem.totalPrice }}</td>
          <td>{{ orderItem.order?.id }}</td>
          <td>{{ orderItem.order?.orderStatus }}</td>
          <td>
            <a class="btn btn-outline-dark">Edit</a>
          </td>
          <td>
            <a class="btn btn-outline-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10]"
      showFirstLastButtons
      (page)="onPageChange($event)"
      [length]="pagesCount"
    >
    </mat-paginator>
  </div>
</div>
