.cover {
    width: 100px;
    height: 100px;
}

.Dashboard {
    display: flex;
    margin: 25px;
    margin-left: 0;
}

.side-nav {
    width: 20%;
    text-shadow: 0 0 black;
    min-height: 75vh;
}

.main {
    width: 75%;
    margin: auto;
}

th , td {
    color: black
}
mat-icon {
    margin-right: 5px;
}
a{
    cursor: pointer;
}

.operation{
    margin: 25px auto 25px;
}
.product-search-img{
    width: 25px;
    height: 25px;
}